.bg-aqua{
    background-color: #1ABC9C;
}
.bg-aqua:hover{
    background-color: #1ABC9C;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0; 
    align-items: center;
}

.nav-bg{
    background-color: #3A546D;
}

.petrol-bg{
    background-color: #2C3E50;
}

.aqua-txt{
    color: #1ABC9C;
}

.half-divider{
    border: 2px solid;
    height: 4px;
    width: 20%;
    max-width: 120px;
    margin: 5px 10px;
    border-radius: 3px;
}

.avatar img{
    max-width: 250px;
    width: 250px;
}

.form-control{
    border: 0px;
}

section:last-child .fa-brands{
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}