.bg-petrol{
    background-color: #2C3E50;
}

.bg-aqua{
    background-color: #1ABC9C;
}

.half-divider{
    background-color: white;
    height: 4px;
    width: 20%;
    margin: 5px 10px;
    border-radius: 3px;
}